<?php echo '<?php'; ?> 

// database informations
// for sqlite, use sqlite:/tmp/frog.db (SQlite 3)
// the path can only be absolute path or :memory:
// for more info look at: www.php.net/pdo

<?php if ($db_driver == 'mysql'): ?>
define('DB_DSN', 'mysql:dbname=<?php echo $db_name; ?>;host=<?php echo $db_host; ?>');
<?php else: ?>
define('DB_DSN', 'sqlite:<?php echo $db_name; ?>');
<?php endif; ?>
define('DB_USER', '<?php echo $db_user; ?>');
define('DB_PASS', '<?php echo $db_pass; ?>');

define('TABLE_PREFIX', '<?php echo $table_prefix; ?>');

define('DEBUG', false);

// The full URL of your Frog CMS install
define('URL_PUBLIC', 'http://<?php echo substr(dirname($_SERVER['HTTP_HOST'].$_SERVER['SCRIPT_NAME']), 0, strrpos(dirname($_SERVER['HTTP_HOST'].$_SERVER['SCRIPT_NAME']), '/')); ?>/');

// The directory name of your Frog CMS administration (you will need to change it manualy)
define('ADMIN_DIR', 'admin');

// Change this setting to enable mod_rewrite. Set to "true" to remove the "?" in the URL.
// To enable mod_rewrite, you must also change the name of "_.htaccess" in your
// Frog CMS root directory to ".htaccess"
define('USE_MOD_REWRITE', false);

// add a suffix to pages (simluating static pages '.html')
define('URL_SUFFIX', '<?php echo $url_suffix; ?>');

// if your server doesn't have PDO (with MySQL driver) set the below to false
define('USE_PDO', <?php echo class_exists('PDO') ? 'true': 'false'; ?>);

// Set the timezone of your choise
// go here for more information of the available timezone:
// http://php.net/timezones
define('DEFAULT_TIMEZONE', '<?php $tz = date('e'); echo $tz != 'e' ? $tz: 'GMT'; ?>');
